{% extends 'khandiary/base.html' %}
{% load static %}
{% block content %}

<!-- Page header -->
<center>
  <p class="title is-size-4 is-size-5-mobile">About us</p>
  <hr class="page-header-hr">
</center>

<!-- About Us Content -->
<div class="columns is-centered">
  <div class="column  is-three-quarters">

    <!-- Heading 1 -->
    <p class="title is-size-5">The Project</p>
    <p class="subtitle" id="the-project-sub">
      Khan Diary is the No.1 social diary writing platform where users
      can write private or public diary entries and keep their moments safe and secure or share them
      with the people all around the world.
    </p>

    <br>

    <!-- Heading 2 -->
    <p class="title is-size-5">The People</p>
    <p class="subtitle" id="the-people-sub">Designed & Developed by Shikeb Khan</p>

  </div>
</div>

<center>
  .......................<br>
  Made with ❤️ in India
</center>
{% endblock content %}
