{% extends 'khandiary/base.html' %}
{% load static %}
{% block content %}

<!-- Page header -->
<center>
  <p class="title is-size-4 is-size-5-mobile">FAQ</p>
  <p class="subtitle is-size-5 is-size-6-mobile">Frequently Asked Questions about Khan Diary</p>
  <hr class="page-header-hr">
</center>

<!-- List Of Questions with Answers -->
<ul class="faq-ul">


  <!-- Question With Answer -->
  <li>
    <p class="title is-size-4 is-size-5-mobile">Is Khan Diary free?</p>
    <p class="subtitle is-size-5 is-size-6-mobile">
      Yes! it is absolutely free.
    </p>
  </li>
  <br>

  <!-- Question With Answer -->
  <li>
    <p class="title is-size-4 is-size-5-mobile">Can Khan Diary see what I writes?</p>
    <p class="subtitle is-size-5 is-size-6-mobile">
      No! privacy is Khan Diary's first promise. If your account is private then only you and God knows
      what you have written.
      But if your account is public then Yes! Khan Diary can see what you writes.
    </p>
  </li>
  <br>

  <!-- Question With Answer -->
  <li>
    <p class="title is-size-4 is-size-5-mobile">How much entries can I add?</p>
    <p class="subtitle is-size-5 is-size-6-mobile">
      As diary entry means summary of whole day, so you can only add one entry per day.
      We recommand you to add entry after going to bed just before sleep. 
    </p>
  </li>
  <br>

  <!-- Question With Answer -->
  <li>
    <p class="title is-size-4 is-size-5-mobile">Why am I not getting any notification on my email from Khan Diary?</p>
    <p class="subtitle is-size-5 is-size-6-mobile">
      Khan Diary does not send you any notification to your email, you can check your notifications by Notifications page on Khan Diary. 
    </p>
  </li>
  <br>


  <!-- Question With Answer -->
  <li>
    <p class="title is-size-4 is-size-5-mobile">How can I make my account public/private?</p>
    <p class="subtitle is-size-5 is-size-6-mobile">
      Go to "Profile" => "Settings" => "Account" => "Account privacy setting". 
    </p>
  </li>
  <br>

  <!-- Question With Answer -->
  <li>
    <p class="title is-size-4 is-size-5-mobile">How can I change my password?</p>
    <p class="subtitle is-size-5 is-size-6-mobile">
       Go to "Profile" => "Settings" => "Account" => "Change password". 
    </p>
  </li>
  <br>

  <!-- Question With Answer -->
  <li>
    <p class="title is-size-4 is-size-5-mobile">How can I reset my password?</p>
    <p class="subtitle is-size-5 is-size-6-mobile">
      Under login form click on "Password reset" link and follow further steps.
    </p>
  </li>
  <br>

  <br>

</ul>

{% endblock content %}
