{% extends 'khandiary/base.html' %}
{% load static %}
{% block content %}

<!-- Page Header -->
<center>
  <p class="title is-size-4 is-size-5-mobile">
    @{{profile.user}}
    {% if profile.verified %}
      <span class="icon is-small has-text-success"><i class="fas fa-check-circle"></i></span>
    {% endif %}
  </p>
  <p class="subtitle is-size-6 is-size-7-mobile">
    {% if profile.user == request.user %}
      <a href="{% url 'users:edit-profile' %}">
        <span class="icon-text">
          <span class="icon"><i class="fas fa-cog"></i></span>
          <span>Settings</span>
        </span>
      </a>
    {% else %}

      {% if  profile.user not in request.user.profile.following.all %}
        <button class="button is-rounded is-light" name="follow" onclick="followUser({{profile.user.id}},this)">
          <b id="id_user_follow_button_text_{{profile.user.id}}">Follow</b>
        </button>
      {% else %}
        <button class="button is-rounded is-success" name="unfollow" onclick="followUser({{profile.user.id}},this)">
          <b id="id_user_follow_button_text_{{profile.user.id}}">Following</b>
        </button>
      {% endif %}  

    {% endif %}
  </p>
  <hr class="page-header-hr">
</center>

<div class="columns is-centered">
  <div class="column is-half is-wider">

    <!-- Name -->
    <p class="title is-1  is-size-3-mobile has-text-centered">
      {{profile.user.first_name}} {{profile.user.last_name}}
    </p>

    <!-- Bio -->
    <p class="subtitle is-size-6 has-text-centered">{{profile.bio|default_if_none:""}}</p>

    <br>

    <!-- Profile Overview Entries, Followers etc -->
    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">
            <a href="{% url 'entries:entries' profile.user %}">Entries</a>
          </p>
          <p class="title is-size-4 is-size-5-mobile">{{profile.entries_count}}</p>
        </div>
      </div>

      <div class="level-item has-text-centered">
        <div>
          <p class="heading">
            <a href="{% url 'users:followers' profile.user %}">Followers</a>
          </p>
          <p class="title is-size-4 is-size-5-mobile" id="id_followers_count">
            {{profile.followers.all.count}}
          </p>
        </div>
      </div>

      <div class="level-item has-text-centered">
        <div>
          <p class="heading">
            <a href="{% url 'users:following' profile.user %}">Following</a>
          </p>
          <p class="title is-size-4 is-size-5-mobile">{{profile.following.all.count}}</p>
        </div>
      </div>
    </nav>

    <!-- Personal Info -->
    <div class="card has-text-centered">
      <header class="card-header">
        <p class="card-header-title">Info card</p>
      </header>
      <div class="card-content">
        <div class="content" id="profile-about">
          <p class="title is-size-5">Gender: {{profile.gender}}</p>
          <p class="title is-size-5">Country: {{profile.country.name}} <img src="//www.translatorscafe.com/cafe/images/flags/{{profile.country}}.gif"></p>
          <p class="title is-size-5">Birthday: {{profile.birthday|date:'jS F Y'}}</p>
          <p class="title is-size-5">Joined: {{profile.user.date_joined|date:'jS F Y'}}</p>
        </div>
      </div>
    </div>

    <br>

    {% if profile.facebook or profile.instagram or profile.twitter or profile.youtube %}

    <!-- Social Connections -->
    <div class="card has-text-centered">
      <header class="card-header">
        <p class="card-header-title">Social connections</p>
      </header>
      <div class="card-content">
        <div class="content" id="profile-about">
          {% if profile.facebook %}
          <p class="title is-size-5">
            <a href="{{profile.facebook}}">
            <i class="fab fa-facebook"></i> Facebook</a>
          </p>
          {% endif %}

          {% if profile.twitter %}
          <p class="title is-size-5">
            <a href="{{profile.twitter}}">
            <i class="fab fa-twitter"></i> Twitter</a>
          </p>
          {% endif %}

          {% if profile.instagram %}
          <p class="title is-size-5">
            <a href="{{profile.instagram}}">
            <i class="fab fa-instagram"></i> Instagram</a>
          </p>
          {% endif %}

          {% if profile.youtube %}
          <p class="title is-size-5">
            <a href="{{profile.youtube}}">
            <i class="fab fa-youtube"></i> YouTube</a>
          </p>
          {% endif %}                              
        </div>
      </div>
    </div>

    <br>

    {% endif %}

    <!-- Mood stats -->
    <div class="card has-text-centered"> 
      <header class="card-header">
        <p class="card-header-title">Mood stats</p>
      </header>
      <div class="card-content">
        <div class="content profile-moods">
            <div class="great-mood" title="Great mood" style="width: {{mood_stats.great}}%;">
              <a href="{% url 'entries:user-mood' 'great' profile.user %}">😄</a>
            </div>
            <div class="good-mood" title="Good mood" style="width: {{mood_stats.good}}%;">
              <a href="{% url 'entries:user-mood' 'good' profile.user %}">😊</a>
            </div>
            <div class="usual-mood" title="Usual mood" style="width: {{mood_stats.usual}}%;">
              <a href="{% url 'entries:user-mood' 'usual' profile.user %}">😐</a>
            </div>
            <div class="bad-mood" title="Bad mood" style="width: {{mood_stats.bad}}%;">
              <a href="{% url 'entries:user-mood' 'bad' profile.user %}">😞</a>
            </div>
            <div class="terrible-mood" title="Terrible mood"
              style="width: {{mood_stats.terrible}}%;">
              <a href="{% url 'entries:user-mood' 'terrible' profile.user %}">😭</a>
            </div>
        </div>
      </div>
    </div>

    <br>


  </div>
</div>

{% endblock content %}
