{% extends 'khandiary/base.html' %}
{% load static %}
{% block content %}

<!-- Page Header -->
<center>
  <p class="title is-size-4 is-size-5-mobile">Password reset</p>
  <hr class="page-header-hr">
</center>

<!-- Forgot Password Form -->
<div class="columns is-centered has-text-centered">
  <div class="column is-wider is-half-tablet">
    <div class="card">
      <div class="card-content">
        <form role="form" method="post" autocomplete="off">
          {% csrf_token %}

          {{ form.id }}

          <!-- Email -->
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input class="input is-rounded is-success" placeholder="Enter your email (connected with your account)" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
              <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            </div>
          

          <!-- Email errors -->
          {% if form.email.errors %}
            <p class="help is-danger">
              <ul>
                {% for error in form.email.errors %}
                  <li>
                    <strong style="color: red;">{{ error|escape }}</strong>
                  </li>
                {% endfor %}
              </ul>
            </p>
          {% endif %}

          </div>

          <!-- Submit Button -->
          <div class="field">
            <div class="control">
              <button class="button is-success is-rounded" name="action" type="submit">
                <b>Continue</b>
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>

{% endblock content %}

