<!doctype html>
{% load static %}
<html>
 <head>
 	<meta charset="utf-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1">
   	<link rel="stylesheet" href="{{ domain }}{% static 'css/email/email.css' %}">
  	<title>Khan Diary: Password Reset Email</title>
</head>
<style type="text/css">

</style>
<body>

<div class="email_top"></div>

<center>
<img src="{{ domain }}{% static 'images/logo.png' %}">
<br>
<br>

👋 Hi <strong>{{ user.get_short_name }}</strong>,
<br>

<h1>🔑 Forgot your password?</h1>

<p>📨 We have received a request to reset your password for your Khan Diary account: <u>{{ user.get_username }}.</u></p>

<h3>🔧  To reset your password, click the button below: 👇</h3>

<a class="button" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset password</a>
<br>

<p>🔗 If the button doesn't work, Please copy and paste the given link into a new tab.</p>

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

<p>👉 Note: This link is valid only for 5 minutes.</p>

<p>🔒 If you ignore this email, your password won't be changed.</p>

<p>
Sincerely,
<br>
<strong>Khan Diary</strong>	
</p>
<hr>
a Shikeb Khan production <br>
Khan Diary © 2022

</center>
<div class="email_bottom"></div>
</body>
</html>
