{% extends 'khandiary/base.html' %}
{% load static %}
{% block content %}

<!-- Page Header -->
<center>
  <p class="title is-4 is-size-5-mobile">Edit entry</p>
  <hr class="page-header-hr">
</center>

<!-- New Entry Form -->
<div class="columns is-centered">
  <div class="column is-wider is-two-thirds-desktop">
    <div class="card">
      <div class="card-content">
        <form role="form" method="post" autocomplete="off">
          {% csrf_token %}

          <!-- Content -->
          <div class="field">
            <div class="control">
              {{form.content}}
            </div>
          </div>

          <!-- Mood -->
          <div class="field">
            <div class="control is-expanded">
              <div class="select is-fullwidth is-rounded is-success">
                {{form.mood}}
              </div>
            </div>
          </div>

          <!-- Tags -->
          <span class="subtitle is-size-5 is-size-6-mobile">
            <i class="fa fa-tag"></i> Add suitable tags (optional):
          </span>
          <div class="field">
            <div class="control">
              {{form.tags}}
            </div>
          </div>

          <center>
            <!-- Submit Button -->
            <div class="field">
              <div class="control">
                  <button class="button is-success is-rounded" name="action" type="submit">
                  <b>Save</b>
                </button>
              </div>
            </div>
        </center>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
