{% extends 'khandiary/base.html' %}
{% load static %}
{% block content %}

<!-- Page Header -->
<center>
  <p class="title is-size-4 is-size-5-mobile">All entries</p>
  <p class="subtitle is-size-5 is-size-6-mobile" id="id_entries_count">{{entries_count}}</p>
  <hr class="page-header-hr">
</center>

<div class="columns is-centered">
  <div class="column is-half is-wider">

    <!-- Explore User -->
    <form method="GET" action="{% url 'entries:search_user_entry' request.user %}">
      <div class="field">
        <div class="control has-icons-left has-icons-right">
          <input class="input is-rounded is-success" name="entry_query" type="text"
          placeholder="Explore {{user}}" autofocus>
          <span class="icon is-small is-left"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </form>

    <br>

    {% include 'entries/entries-list.html' %}

  </div>
</div>

{% endblock content %}
